.cooperate__wrapper{
  display: block;
  margin: 0 auto;  
}

.cooperate__title{
  margin: 0;
  padding: 0;
  margin-bottom: 78px;
  font-family: Gilroy;
  font-weight: 700;
  font-size: 48px;
  line-height: 58.03px;
  color:#222227;
}

.cooperate__left-btn{
  width: 40px;
  height: 40px;

  margin-right: 42px;

}

.cooperate__btn-img{
  width: 40px;
  height: 40px;
}


